
{% extends 'layout.html'%}

{% block head %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{% block content %}
	<h2>Bienvenido {{user.username}}!</h2>
	<a href="/log-out">Log out</a>

	<div>
		<form method="POST" action="/app/create-post">
			<textarea name="content"></textarea>
			<button>Post</button>
		</form>
	</div>
	<div id="posts">
	{% for post in posts%}
		<p>{{post.user.username}} : {{post.content}}</p>
	{% endfor%}
	</div>
	
{% endblock %}
